In [1]:
import sys
print(sys.version)

3.11.5 (tags/v3.11.5:cce6ba9, Aug 24 2023, 14:38:34) [MSC v.1936 64 bit (AMD64)]

In [2]:
# create a data frame from list of dictionaries
import pandas as pd
data = [
    {'Name':'Sachin','Age':'20','City':'Banda'},
    {'Name':'Aryan','Age':'20','City':'Jaipur'},
    {'Name':'Tanay','Age':'20','City':'Kota'}
]

df = pd.DataFrame(data)
print(df)
print(type(df))

     Name Age    City
0  Sachin  20   Banda
1   Aryan  20  Jaipur
2   Tanay  20    Kota
<class 'pandas.core.frame.DataFrame'>